.bg-primary{
    background-color:black !important;
    background-image: url(../assets/img/m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
ol.shlist>li:hover{
    list-style-type: decimal;
    background-color: #1a2c12;
    color: #da9954;
}
table.shlist{
    width: 88%;
    background-color:#3b6b27;
    color: rgb(162, 136, 41);
    background-position: center;
    text-align: center;

}

*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
body{
    font-family: 'Noto Sans TC',sans-serif;
}
p.redred{
    border: 3px dashed;
    border-color: #da9954;
    color: #da9954;
    font-size: 40px;
    text-align: center;
    text-indent: 2;
    background-color:#1a2c12 ; 
    font-family: 'Noto Serif TC',sans-serif;



}
.shblue{
    color: #9d88c9;
}

.expedu_icon { 
color: #1a2c12;
} 

.expedu_icon:hover{
background-color: #1a2c12;
color: #da9954;
} 
p.nen{
    text-align: center;
}