.bg-primary{
    background-color:black !important;
    background-image: url(../assets/img/m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
ol.shlist>li:hover{
    list-style-type: decimal;
    background-color: #da9954;
    color: #1a2c12;
}
table.shlist {
    width: 100%;
    background-color: #da9954;
    border-collapse: separate;
    text-align: center;
}
.w-85{
    width: 85%;
}

table.shlist th{
    text-align: center;
    border: 80px #e9f0e7;
    background-color:#0e2803;
    color: #da9954;
    border-collapse:collapse;
    margin: auto
}    
table.shlist td{ 
    text-align: center;
    background-color:rgb(0, 16, 1);
    color: #da9954;
    text-align: center;
    border-collapse:collapse ;
    border: 10px red; 
    padding: 30px ;
    margin: auto;
}
*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
body{
    font-family: 'Noto Sans TC',sans-serif;
}
div#redred{
    padding: 50px;
    border: 3px dashed #da9954;
    border-radius: 30px;
    margin: 100px auto;

    color: #da9954;
    font-size: 40px;
    text-align: center;
    text-indent: 2;
    background-color:#1a2c12 ; 
    font-family: 'Noto Serif TC',sans-serif; 
    overflow: hidden;



}
.shgroup {
    color: #1a2c12;
    
    
} 


.icon{
    text-align: center;
}


.nen{
    background-color:rgb(0, 0, 0) ;
}

.overflowtest{
    background-color: azure;
    color: #da9954;
    padding: 10px;
    border-radius: 15px;
     
    margin: 30px auto;
    height: 150px;
    overflow: hidden; 
    text-align: center;
}

.sh80{
    width: 80%;
    margin: 0 auto;
}

.shblue{
    color: #9d88c9;
}

.expedu_icon { 
color: #1a2c12;
} 

.expedu_icon:hover{
background-color: #1a2c12;
color: #da9954;
} 
p.nen{
    text-align: center;
} 

.socail-icons{
    padding: 50px;
   
     
    margin: 30px auto;
    
    
    letter-spacing: 0.8px;
    line-height: 4cm;
}
