*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
body{
    font-family: 'Noto Sans TC',sans-serif;
}
p.redred{
    color: #da9954;
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    background-color:#1a2c12 ; 
    font-family: 'Noto Serif TC',sans-serif;

    

}
.shblue{
    color: #9d88c9;
}